<div class="container mt-5">
    <div class="w-100  m-auto border border-secondary shadow-lg  bg-white rounded">
        <div class="row mt-5">
            <div class="col-md-6 p-5">
                <img src="../../assets/images/not found/notfousnd.png" class="img-fluid" alt="">

            </div>
            <div class="col-md-6">
                <div class="row h-100 text-center align-items-center">
                    <div class="col-md-12">
                        <h2 class="mb-5">Page Not Found</h2>
                        <div class="btnContainer m-5">
                            <button routerLink='/makeOrder' class="btn btn-primary m-2">Make An Order</button>
                            <button routerLink='/home' class="btn btn-outline-primary">Back To Home</button>
                        </div>

                    </div>


                </div>
            </div>
        </div>


    </div>
</div>