<footer class="w-100 m-0 row " style=" background-color:#55D4FF;">

    
      
      <div class="w-75 row justify-content-start align-items-start ">
         
       
      <div class="text-white mx-auto row col-sm-12 col-md-11 col-lg-10 pt-1 " >
  
        <div class="text-white mx-auto col-sm-6 col-md-4 col-lg-4">
            <ul style="list-style-type:none;">
          <li><h5 href="#" class="btn mb-3 mr-1"><strong>DOWNLOAD APP</strong></h5></li>
          <li><a href="#" class="btn mb-1  mr-1">Android</a></li>
          <li><a href="#" class="btn mb-1  mr-1">IOS</a></li>
        </ul>
      </div>
      
      <div class="text-white mx-auto col-sm-6 col-md-4 col-lg-4">
        <ul style="list-style-type:none;">
          <li><h5 href="#" class="btn mb-3 mr-1"><strong>WHO WE ARE</strong></h5></li>
          <li><a href="#" class="btn mb-1  mr-1">About Us</a></li>
          <li><a href="#" class="btn mb-1  mr-1">Our team</a></li>
       </ul>
      </div>

      <div class="text-white mx-auto col-sm-6 col-md-4 col-lg-4 ">
          <ul style="list-style-type:none;">
            <li><h5 href="#" class="btn mb-3 mr-1"><strong>WHAT YOU DO</strong></h5></li>
            <li><a href="#" class="btn mb-1  mr-1">order medicine</a></li>
            <li><a href="#" class="btn mb-1  mr-1">search pharmacies</a></li>
          </ul>
    
    </div>
      
      
    
    </div>


    </div>
    
    <div class="w-25 mt-2 text-white col-sm-12 col-md-6 col-lg-3 " >
      <a href="#" class="btn btn-info btn-outline-light mt-3 ml-3" >report problem</a>
      <a href="#"><img src="../../assets/images/footer/icon-coloring-book-line-line-art-symbol-png-clipart.png" style="width: 12rem; height: 6rem;"  alt="logo" class="my-2"></a>
    </div>

    <div class="w-100 d-flex text-white col-sm-12 col-md-12 col-lg-12  justify-content-center pb-1 ">
      <div class="w-100 d-flex  justify-content-center  align-items-center " >
        <a href="" class="mr-1"><i class="fab fa-facebook-square mr-2" style="color: white;"></i></a>
        <a href="" class="mr-1"><i class="fab fa-twitter mr-2" style="color: white;"></i></a>
        <a href="" class="mr-1"><i class="fab fa-instagram  mr-2" style="color: white;"></i></a>
        <a href=""  class="mr-1"><i class="fab fa-pinterest mr-2" style="color: white;" ></i></a>
        </div>
        
     </div> 
  

  </footer>