@import '../../styles.scss';

footer{
    background-color: $mainColor;
    //position: relative;
    //bottom: 0;
}
.downloadApp{
    font-family: $fontFamilyBold;
    font-weight: 700 !important;
    font-size: 1.5rem;
    color: white;
}