<div class="container">
    <div class="col-md-12 mt-5  ">
        <div class="w-75  m-auto border border-secondary shadow-lg  bg-white rounded">
            <div class="img-container m-auto w-50 text-center ">
                <img src="../../assets/images/verify/verified.png" class="w-100 " alt="">
            </div>
            <div class="text-container text-center">
                <h2> 
                    Success !
                </h2>
                <h4>
                    your email has been verified.

                </h4>
               
            </div>
        </div>
       
       
    </div>
</div>
