
   <div class="container my-4">
    <h2 class="text-center my-3">Reset your password</h2>
     <div class="row">
       <div class="col-md-6">
        <img src="../../assets/images/request reset/Forgot password.gif" class="img-fluid " alt="">
       </div>
       <div class="col-md-6 align-self-center">
         <p class="ml-3">Enter your user account's verified email address <br>
           and we will send you a password reset link.
         </p>
         <form [formGroup]='resetForm' class="w-100 container m-auto " (ngSubmit)='ResetPass()'>
          <div class="form-group ">
            <div class="align-self-center">
                <input formControlName='email' type="email" placeholder="Enter your email address" class="form-control">
            <div *ngIf="resetForm.controls.email.invalid&&resetForm.controls.email.touched "  class="alert alert-danger mt-2"> Email not vaild</div>
            <div *ngIf="isSuccess" class="alert alert-info text-center mt-2 btn-close"  role="alert">
              {{responseMessage}}
          </div>
          </div>
            </div>
          
          <button [disabled]='resetForm.invalid' class="btn btn-primary float-right " type="submit"><span *ngIf="!isClicked">Send Email</span><span *ngIf="isClicked">Waiting....</span></button>
        
    </form>
       </div>
     </div>
   </div>