<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="#" alt="">OPharmacy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class=" nav-link " aria-current="page" href="#">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Register</a>
          </li>
          
        </ul>
        
      </div>
    </div>
  </nav>  

  <div *ngIf="!isSignedIn">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="#" alt=""> OPharmacy</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class=" nav-link " aria-current="page" href="#">Order now</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Order history</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Heath news</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " aria-current="page" href="#">Our pharmacies</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button " data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="#" alt="">
      </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#"><img src="#" alt=""></a>
                <a class="dropdown-item" routerLink="/signup">Medical history</a>
                <a class="dropdown-item" routerLink="/signin">Edit profile</a>
                <a class="dropdown-item" routerLink="/signin">log out</a>

            </div>
        </li>
          
        </ul>
        
      </div>
    </div>
  </nav> 

  </div> 

