<div class="py-2" style="background-color: rgb(217,217,219);">
  <div class="row m-auto d-flex justify-content-around forpharmacy">
    <div class=" h-auto w-auto my-auto col-sm-10 col-md-5 col-lg-5 ">
        <h3 class="pb-3 text-center"> {{ pharmacyName }} </h3>
        <img class=" rounded " *ngIf="pharmacyLogo== null " src="../../assets/images/getAllPharmacies/6686e7a77f36f814819125b0d81b9ffa.png" class="card-img-top" alt="...">
       <img class=" rounded " *ngIf="pharmacyLogo!= null" src="{{pharmacyLogo}}" class="card-img-top" alt="...">
    </div>    
   <div class=" h-75 col-sm-10 col-md-6 col-lg-6  pt-3 mt-3" >
       <h4 *ngIf="pharmacyRate!= null" class="pb-3" style="font-size: large" ><strong>rating :</strong> <span style=" font-weight: 600;"> {{pharmacyRate}}</span></h4>
       <div class="pb-3" >
        <p class="text-center"><strong>address : </strong>{{pharmacyAddress}}</p>
        <p class="text-center"><strong>phones : </strong>{{pharmacyPhones}}</p>
        <div id="map" class=" form-control m-auto map"></div>
       </div>
   </div>
</div>
</div>