
.forpharmacy
{background-color: #55D4FF;//rgb(217,217,219);;
color: black;
box-shadow: 0px 0px 15px ;
border-radius: 2%;
height: auto;
width: 50rem;
}

img 
{
    box-shadow: 0px 0px 15px rgba(255, 255,255,.6);
    width: 100% ;
    height: 75% ;
    border-radius: 50%;
}

.map
{
    width: 15rem; 
    height: 15rem;
}