
#map { 
    height:60vh ;
     position: relative;
      left: 0;
       right: 0;
        top: 200%;
         bottom: 0;
          width: 100%;
          
          }
.marker {
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
    }
.pharmaciesList{
    height: 70vh;
    overflow: auto;
}
.logoContainer{
    width: 40px;
    height: 40px;
}
a:link,a:visited, a:hover,a:active {
    text-decoration: none;
  }
  .headerTitle{
      color: #666;
  }
  .searchTitle{
      color: #f11;
  }
  .locationPar{
      color: #ccc;
  }