<div class="container">
    <div class="col-md-12 mt-5  ">
        <div class="w-75  m-auto border border-secondary shadow-lg  bg-white rounded">
            <div class="img-container m-auto w-50 text-center ">
                <img src="../../assets/images/verify/not verified.png" class="w-100 " alt="">
            </div>
            <div class="text-container text-center">
                <h2>
                   Check your inbox, please !
                </h2>
                <p>We need to verify your email. <br>
                    We've already sent out the varication link , <br> please check it and confirm it's really you.</p>
            </div>
        </div>
       
       
    </div>
</div>
