<div class="mainDiv">
    <img src="../../assets/images/health news/pharmacy-overview-new-banner.png" class="img-fluid w-100 h-50" alt="">


<div class="container">
<div class="row">
   <div *ngFor="let new of news" class="col-md-6 my-3" >
    
      <div class="card h-100 text-center shadow-lg ">
        <img src={{new.urlToImage}} class="card-img-top" alt="...">
        <div class="card-body">
          <a href={{new.url}}><h3 class="card-title">{{new.title}}</h3></a>
          <p class="card-text">{{new.description}}</p>
        </div>
      
    </div>
</div>
 

</div>

