<!-- <div class="intro">
    <div class="container py-5">
        <h1>OPharmacy</h1>
        <h6>
           pharmacy delivery app, enabling you to order medication from the comfort of your phone <br>
           and have it immediately delivered from the nearest pharmacy. <br>
           Medically insured? Order via the app for an effortless experience. <br> 
           Try it out today! <br>			
        </h6>
        <button type="button" class="btn btn-info">Order Now</button>
    </div>
</div>
<div class="container py-5">
    <section class="row">

        <div class="col-md-6">
        <h2>Ordering your medications
            has never been this easy!</h2>
            <h5>
                We’re here to make things easy for you!
Order from OPharmacy and never worry about health insurance approvals,
trying to read prescriptions or repeating the same order over and over.
            </h5>
        </div>
        
        <div class="col-md-6 easyOrder" >
            <img src="../../assets/images/gettyimages-1053043114-612x612.jpg" class="w-100" alt="">
        </div>
        </section>
</div> -->

<div class="container-fluid ">
    <div class="row flex-row-reverse">
        <div class="col-md-6 ">
            <img src="../../assets/images/home/20944961.jpg" class="w-100" alt="">
        </div>
        <div class="col-md-6 align-self-center ">
                <h1 class="ml-5 mb-3 display-4 headerHome">
                    Welcome <br> To <span class="OpharmacyWord typed-element" >
                          
                    </span>
                    <br>Home Serivces
                </h1>
                <p class="ml-5 headerDesc">
                    pharmacy delivery app, enabling you to order medication <br> from the comfort of your phone 
           and have it immediately delivered  <br>from the nearest pharmacy. 
           Medically insured? <br> Order via the app for an effortless experience. <br> 
           Try it out today! <br>			
                </p>
                <button type="button" *ngIf='isLoggedIn' routerLink='/makeOrder' class="btn btn-info float-right">Order Now</button>
                <button type="button" *ngIf='!isLoggedIn'routerLink='/signup' class="btn btn-info float-right">Join Us Now</button>
        </div>
    </div>
</div>

<div class="about-div">
    <div class="container-fluid ">
        <div class="aboutSpan mx-5">
            01.
            <span class="spanTest" id="aboutUs">About Us</span>
        </div>
        <div class="row mx-5 flex-row-reverse">
           
            <div class="col-md-6 text-center">
                <img src="../../assets/images/home/online-pharmacy-with-online-consultation-doctor_128772-630.png" class="img-fluid" alt="">
            
               
            </div>    
            <div class="col-md-6">
            
                <div class="my-2 ml-5"> 
                    <h3 class="">What We Are ?</h3>
                    <h6>We empower our partners through a digital infrastructure to deliver a seamless world-class experience for patients and consumers. We exist to simplify healthcare.</h6>
                </div>
                <ul class=" ml-5">
                    <li class="my-1">Send your order with the approval to a licensed pharmacy.</li>
                    <li class="my-1">A seamless mobile app for patients & end-users.</li>
                    <li class="my-1">No waiting queues</li>

                </ul>
            </div> 
                    
        </div>
    </div>
</div>
<div class="ourService" id="ourService">
    <div class="container ">
        <div class="col-md-12">
            <div class="aboutSpan">
                02.
                <span class="spanTest">Our Services</span>
            </div>
            <div class="my-2"> 
                <h6> We’re here to make things easy for you! <br>
Order from OPharmacy and never worry <br> about health insurance approvals,
trying to read prescriptions <br> or repeating the same order over and over.</h6>
            </div>
            <div class="row my-5">
                <div class="col-md-4">
                    <div class="firstService ">
                        <h3 class="test ">Medicine Supply</h3>
                        <p>The app sends the order for all the pharmacies in the area once one of the pharmacies accepts, the order would be cancelled for the rest of pharmacies, so that gives the availability of arriving the order as soon as possible and reduce the possibility of unavailable product.</p>
                              <img src="../../assets/images/home/Two tiny guys in masks holding giant pills.png" class="img-fluid w-75 text-center" alt="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="firstService ">
                        <h3 class="test ">Home delivery</h3>
                        <p>Select your delivery address,<br> No waiting queues, <br> No pharmacy visits <br>The pharmacy that accepts the order will deliver the order to the customer home.

                        </p>
                              <img src="../../assets/images/home/male-doctor-uniform-riding-scooterss-with-medical-surgical-box-first-aid_48369-20708.jpg" class="img-fluid mt-5 pt-2" alt="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="firstService ">
                        <h2 class="test ">24/7 Support</h2>
                        <p>	Opharmacy connects you to +4,000 pharmacies across Egypt, with a customer support team available for your convenience 24/7.</p>
                              <img src="../../assets/images/home/5138237.jpg" class="img-fluid" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="aboutSpan">
            03.
            <span class="spanTest">Our Produ<span class="productSpan">cts</span> </span>
        </div>
    </div>
</div>
<div class="downloadOurApp my-4">
    <div class="container">
        <div class="aboutSpan">
            04.
            <span class="spanTest">App </span>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 text-center">
                <img src="../../assets/images/home/37630s2asd8.png" class="img-fluid w-75" alt="">
            </div>
            <div class="col-md-6 mt-3">
                
                <div class="my-2 ml-5 "> 
                    <h3 class="">Download Our App</h3>
                </div>
                <h6 class="ml-5">  Opharmacy's mobile app is designed, developed, and maintained <br> by healthcare and software professionals granting you <br> an easy-to-use and seamless way to order all your healthcare needs, cosmetics,  <br> and personal care items from the nearest licensed pharmacy. <br> Gone are the days of pharmacy visits and waiting in phone call queues!	</h6>

            </div>
           
        </div>
    </div>
</div>