<!-- <div class="intro">
    <div class="container py-5">
        <h1>OPharmacy</h1>
        <h6>
           pharmacy delivery app, enabling you to order medication from the comfort of your phone <br>
           and have it immediately delivered from the nearest pharmacy. <br>
           Medically insured? Order via the app for an effortless experience. <br> 
           Try it out today! <br>			
        </h6>
        <button type="button" class="btn btn-info">Order Now</button>
    </div>
</div>
<div class="container py-5">
    <section class="row">

        <div class="col-md-6">
        <h2>Ordering your medications
            has never been this easy!</h2>
            <h5>
                We’re here to make things easy for you!
Order from OPharmacy and never worry about health insurance approvals,
trying to read prescriptions or repeating the same order over and over.
            </h5>
        </div>
        
        <div class="col-md-6 easyOrder" >
            <img src="../../assets/images/gettyimages-1053043114-612x612.jpg" class="w-100" alt="">
        </div>
        </section>
</div> -->

<div class="container-fluid ">
    <div class="row">
        <div class="col-md-6 ">

          
                <div class="mt-5 h-100 d-flex align-items-between flex-wrap">
                    <h2 >
                        Welcome <br> To <span class="">
                            O-pharmacy
                            <br>
                            Home Serivces
                        </span>
                    </h2>
                <p>
                    Lorem Ipsum is simply dummy text of
                    <br> the printing and typesetting industry. <br>
                     Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
               </div>
                
           
    
        </div>
        <div class="col-md-6 float-right">
            <img src="../../assets/images/home/20944961.jpg" class="w-100" alt="">

        </div>
    </div>
</div>