@import '../../styles.scss';

// .intro{
//     background-image: url(../../assets/images/pharmacy-overview-new-banner.jpg);
//     background-size: cover;
    
//     height: 70vh;
//     color: black;
// }
.OpharmacyWord{
    color: $mainColor;
}
.headerHome,.headerDesc{
    color: $grayColor;
}
.aboutSpan{
    font-size: 5rem;
    position: relative;
    color: rgb(147, 228, 255);
    font-weight: 900;
}
.spanTest{
    font-size: 3rem;
    position: absolute;
    bottom: 0;
    left: 32px;
    z-index: 6;
    color: #000;
    font-weight: 500;
}
// li{
//     list-style-image: url('../../assets/images/home/pill.svg');
    

// }
// li::marker {
//     font-size: 3rem; /* You can use px, but I think rem is more respecful */
//     color: $mainColor;
// }
.test{
    text-decoration: underline;
}
.firstService{
    font-family: $fontFamilyBold;
}

.productSpan{
    color: rgb(147, 228, 255);
}
.about-div{
    background-color: rgb(238, 238, 238);
}