<!-- <div class="intro">
    <div class="container py-5">
        <h1>OPharmacy</h1>
        <h6>
           pharmacy delivery app, enabling you to order medication from the comfort of your phone <br>
           and have it immediately delivered from the nearest pharmacy. <br>
           Medically insured? Order via the app for an effortless experience. <br> 
           Try it out today! <br>			
        </h6>
        <button type="button" class="btn btn-info">Order Now</button>
    </div>
</div>
<div class="container py-5">
    <section class="row">

        <div class="col-md-6">
        <h2>Ordering your medications
            has never been this easy!</h2>
            <h5>
                We’re here to make things easy for you!
Order from OPharmacy and never worry about health insurance approvals,
trying to read prescriptions or repeating the same order over and over.
            </h5>
        </div>
        
        <div class="col-md-6 easyOrder" >
            <img src="../../assets/images/gettyimages-1053043114-612x612.jpg" class="w-100" alt="">
        </div>
        </section>
</div> -->

<div class="container-fluid ">
    <div class="row flex-row-reverse">
        <div class="col-md-6 ">
            <img src="../../assets/images/home/20944961.jpg" class="w-100" alt="">
        </div>
        <div class="col-md-6 align-self-center ">
                <h1 class="ml-5 mb-3 display-4 headerHome">
                    Welcome <br> To <span class="OpharmacyWord typed-element" >
                          
                    </span>
                    <br>Home Serivces
                </h1>
                <p class="ml-5 headerDesc">
                    Lorem Ipsum is simply dummy text of
                    <br> the printing and typesetting industry. <br>
                    Lorem Ipsum has been the industry's standard dummy text ever since the 1500s
                </p>
                <button type="button" *ngIf='isLoggedIn' routerLink='/makeOrder' class="btn btn-info float-right">Order Now</button>
                <button type="button" *ngIf='!isLoggedIn'routerLink='/signup' class="btn btn-info float-right">Join Us Now</button>
        </div>
    </div>
</div>

<div class="about-div">
    <div class="container-fluid ">
        <div class="aboutSpan mx-5">
            01.
            <span class="spanTest">About Us</span>
        </div>
        <div class="row mx-5 flex-row-reverse">
           
            <div class="col-md-6 text-center">
                <img src="../../assets/images/home/online-pharmacy-with-online-consultation-doctor_128772-630.png" class="img-fluid" alt="">
            
               
            </div>    
            <div class="col-md-6">
            
                <div class="my-2 ml-5"> 
                    <h3 class="">What We Are ?</h3>
                    <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequuntur iusto qui et ullam, illo ipsum, voluptas ipsam debitis atque unde quisquam voluptatum tenetur ducimus obcaecati. Rerum tenetur blanditiis possimus odio?</h6>
                </div>
                <ul class=" ml-5">
                    <li class="my-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    <li class="my-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                    <li class="my-1">Lorem ipsum, dolor sit amet consectetur adipisicing elit.</li>
                </ul>
            </div> 
                    
        </div>
    </div>
</div>
<div class="ourService">
    <div class="container ">
        <div class="col-md-12">
            <div class="aboutSpan">
                02.
                <span class="spanTest">Our Services</span>
            </div>
            <div class="my-2"> 
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                     Consequuntur iusto qui et ullam, illo ipsum, <br>
                      voluptas ipsam debitis atque unde quisquam voluptatum tenetur ducimus obcaecati. <br>
                       Rerum tenetur blanditiis possimus odio?</h6>
            </div>
            <div class="row my-5">
                <div class="col-md-4">
                    <div class="firstService ">
                        <h3 class="test ">Medicine Supply</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Consequuntur iusto qui et ullam, illo ipsum,
                             voluptas ipsam debitis atque unde quisquam voluptatum tenetur ducimus obcaecati.
                              Rerum tenetur blanditiis possimus odio?</p>
                              <img src="../../assets/images/home/Two tiny guys in masks holding giant pills.jpg" class="img-fluid" alt="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="firstService ">
                        <h3 class="test ">Home delivery</h3>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Consequuntur iusto qui et ullam, illo ipsum,
                             voluptas ipsam debitis atque unde quisquam voluptatum tenetur ducimus obcaecati.
                              Rerum tenetur blanditiis possimus odio?</p>
                              <img src="../../assets/images/home/male-doctor-uniform-riding-scooterss-with-medical-surgical-box-first-aid_48369-20708.jpg" class="img-fluid mt-5 pt-2" alt="">

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="firstService ">
                        <h2 class="test ">24/7 Support</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                            Consequuntur iusto qui et ullam, illo ipsum,
                             voluptas ipsam debitis atque unde quisquam voluptatum tenetur ducimus obcaecati.
                              Rerum tenetur blanditiis possimus odio?</p>
                              <img src="../../assets/images/home/5138237.jpg" class="img-fluid" alt="">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="products">
    <div class="container">
        <div class="aboutSpan">
            03.
            <span class="spanTest">Our Produ<span class="productSpan">cts</span> </span>
        </div>
    </div>
</div>
<div class="downloadOurApp my-4">
    <div class="container">
        <div class="aboutSpan">
            04.
            <span class="spanTest">App </span>
        </div>
        <div class="row flex-row-reverse">
            <div class="col-md-6 text-center">
                <img src="../../assets/images/home/37630s2asd8.png" class="img-fluid w-75" alt="">
            </div>
            <div class="col-md-6 mt-3">
                
                <div class="my-2 ml-5 "> 
                    <h3 class="">Download Our App</h3>
                </div>
                <h6>Lorem ipsum, dolor sit amet consectetur adipisicing elit. <br>
                     Consequuntur iusto qui et ullam, <br>
                     illo ipsum, voluptas ipsam debitis atque <br>
                      unde quisquam voluptatum tenetur ducimus obcaecati. <br>
                      Rerum tenetur blanditiis possimus odio?</h6>

            </div>
           
        </div>
    </div>
</div>